#container {
    background-color: black;
    max-width: 100%;
}

a {
    color: white;
    padding: 20px;
    text-decoration: none;
}


header {
    text-align: center;
    max-width: 100%;
}

img {
    width: 50%;
}

main {
    text-align: center;
    font-size: 18px;
    margin: 5%;
}


#num {
    font-size: 40px;
    color: white;
    background-color: grey;
    width: 600px;
    height: 70px;
    border-radius: 5px;
    margin: auto;

}




#maps {
    border: 4px solid rgb(105, 104, 104);
    border-radius: 5px;
    width: max-content;
    margin: auto;

}

#email {
    color: rgb(48, 61, 43);
}

footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 10px;
    padding-top: 5%;
    margin-top: 10%;
    box-shadow: 0 50vh 0 50vh #000;
}